body {
    background-color:#001f3f;
  }
  input {
    font-family: Arial;
    color: #050505;
    padding: 1px 0;
    font-size: 18px;
  }
  a {
    color: #01FF70;
  }
  h1 {
    font-family: Arial;
    color: #FF851B;
    align-content: center;
    margin: auto;
    padding: 8px 0;
    font-size: 34px;
  }
  h2 {
    font-family: Arial;
    color: #DDDDDD;
    align-content: center;
    margin: auto;
    padding: 8px 0;
    font-size: 24px;
  }
  h3 {
    font-family: Arial;
    color: #DDDDDD;
    align-content: center;
    margin: auto;
    padding: 8px 0;
    font-size: 21px;
  }
  p {
    color: #7FDBFF;
    font-size: 18px;
    font-family: Arial;
    align-content: center;
    margin: auto;
    padding: 3px 0;
  }
  #oneGridsProfit {
    color: #2ECC40;
    font-size: 18px;
    font-family: Arial;
    align-content: center;
    margin: auto;
    padding: 3px 0;
  }
  button {
    font-family: Arial;
    background-color: #2b2e33;
    border: 3px solid #FF851B;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    align-content: center;
    margin: auto;
    padding: 10px 2;
  }

  button:hover {
    background-color: #FF851B;
    border: 3px solid #2b2e33;
    color: black
  }
  li {
    margin-bottom: 5px;
    color: #2ECC40;
    list-style-type: none
  }
/* NOTE: Can include this to split grids into two columns
   ul li{
    float: left;
    width: 25%; 
}
ul{
    list-style-type: disc;
} */